/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background:#916ECA url();
	text-align: center;
	margin: auto;
}



#8ball {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

#answerbutton{
    display: block;
    margin:auto;
    margin-top: 20px;
    line-height: 150px;
    text-align: center;
    font-size: 3em;
    font-family: 'Comic Sans MS', cursive;
    color: #fc030b;
    height: 200px;
    width: 400px;
    background-color: #D05FAD;
    box-shadow: 5px 5px 10px 2px #010347;
}

#answer {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}





